*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    
}

#parte-izquierda{
    background-color: rgb(15, 14, 14);
    width: 50%;
    height: 100vh;
    color: white;

    img{
        width: 100%;
        height: 60%;
    }

    #cuadro-de-texto{
        width: 100%;
        height: 40%;
        padding: 50px;

        h1{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: bold;
        }

        h3{
            padding: 15px 0;
        }

        p{
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

#parte-derecha{
    width: 50%;
    height: 100vh;
    nav{
        width: 100%;
        padding: 30px;
    }
    
    ul{
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
    }

    
}