* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: #f8f9fa;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    background-color: #121212;
    color: #fff;
}

.navbar nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 0.95rem;
}

